* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: #ADD8E6;
}

nav {
    display: flex;
    margin-top: 1rem;
    height: 40px;
    flex: 0 1 50%;
    justify-content: space-around;
    align-items: center;
    background-color: #DAA520;
}