* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: #ADD8E6;
}

nav {
    border: 1px dashed black;
    display: flex;
    margin-top: 1rem;
    height: 40px;
    flex: 0 1 50%;
    justify-content: space-around;
    align-items: center;
    background-color: #DAA520;
}

.container {
    display: flex;
    background-color: #00008B;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.box-fux {
    height: 300px;
    flex: 0 1 40%;
    background-color: #EE82EE;
    border: 1px dashed black;
}

.container-1 {
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.sixty-sky{
    height: 300px;
    flex: 0 1 60%;
    background-color: #1E90FF;
    border: 1px dashed black;
}

.forty-pink {
    height: 300px;
    flex: 0 1 40%;
    background-color: #FFC0CB;
    border: 1px dashed black;
}

.container-2 {
    background-color: #D3D3D3;
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.forty-sky {
    height: 300px;
    flex: 0 1 40%;
    background-color: #1E90FF;
    border: 1px dashed black;
}

.sixty-pink {
    height: 300px;
    flex: 0 1 60%;
    background-color: #FFC0CB;
    border: 1px dashed black;
}

.container-3 {
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.container-4 {
    background-color: #D3D3D3;
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.box-green {
    height: 300px;
    flex: 0 1 80%;
    background-color: #228B22;
    border: 1px dashed black;
}

.container-5 {
    background-color: #23272A;
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
}

.box-salmon {
    height: 300px;
    flex: 0 1 20%;
    background-color: #F08080;
    border: 1px dashed black;
}

.box-acqua {
    height: 300px;
    flex: 0 1 10%;
    background-color: #20B2AA;
    border: 1px dashed white;
}

footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #23272A;
}

.credits{
    display: flex;
    height: 60px;
    flex: 0 1 50%;
    justify-content: space-between;
    align-items: center;
    background-color: #7FFFD4;
}